@import "tailwindcss";

:root {
  --color-grey: #1e232d6c;
}

@theme inline {
  --font-fb: var(--font-quicksand-bold);
  --font-fr: var(--font-quicksand-regular);
  --font-fl: var(--font-quicksand-light);

  --color-grey: var(--color-grey);
}

body {
  color: white;
  font-family: var(--font-fr);
  background-color: rgba(0, 0, 0, 0.938);

}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container {
  max-width: 1320px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  border-radius: 8px;
  font-size: 14px;
  position: relative;

}