.body {
    color: red;
    font-family: var(--font-fr);
    background: linear-gradient(to bottom, #111827, #1f2937, #000000);
    min-height: 100vh;
    margin: 0;
    background-attachment: fixed;
}