@import "tailwindcss";

:root {
  --color-grey: #1e232d6c;
}

@theme inline {
  --font-fb: var(--font-quicksand-bold);
  --font-fr: var(--font-quicksand-regular);
  --font-fl: var(--font-quicksand-light);

  --color-grey: var(--color-grey);
}

body {
  background: rgb(20, 20, 20);
  color: white;
  font-family: var(--font-fr);
}

.container {
  max-width: 1320px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}