@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-grey: #1e232d6c;
}

@theme inline {
  --font-fb: var(--font-quicksand-bold);
  --font-fr: var(--font-quicksand-regular);
  --font-fl: var(--font-quicksand-light);
  --color-grey: var(--color-grey);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-fr);
}

.container {
  max-width: 1320px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}